html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Arial, sans-serif;
}

/*Navigation Style*/

.menu-icon {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 4em;
    top: 2em;
    z-index: 65;
    background-color: #1d1d1d;
    padding: 1em 1.2em;
    border-radius: 5em;
    border: solid 1px #c5b358;
    -webkit-box-shadow: 5px 0 5px 5px rgba(0,0,0,0.5);
	box-shadow: 5px 0 5px 5px rgba(0,0,0,0.5);
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fafafa;
    margin: 5px 0;
    transition: 0.7s;
}

.my-nav {
	position: fixed;
	right: -320px;
	width: 300px;
	z-index: 60;
	padding-top: 0;
	background-color: #fafafa;
	bottom: 0;
	top: 0;
	-webkit-box-shadow: -5px 0 5px 5px rgba(0,0,0,0.5);
	box-shadow: -5px 0 5px 5px rgba(0,0,0,0.5);
}

.my-nav p {
    color: #4f4f4f;
    font-size: 1.2em;
    padding: 2.6em 2em;
}

.my-nav .list-group, .list-group-item.list-group-item-action {
	color: #4f4f4f;
	background-color: #fafafa;
	border-radius: 0;
	border-left: none;
	border-color: #dfdfdf;
	font-size: 1.1em;
}

.list-group-item.list-group-item-action {
	padding: 1em;
}

.list-group-item.list-group-item-action:hover {
	background-color: #1d1d1d;
	color: #fafafa;
}

/*Pages*/
.container-fluid {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
}

.hero {
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position: absolute;
	padding: 10em 5em;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.white {
	height: 64em;
}

p, .hero h1 {color: white;}

.hero h1 {
	text-align: center;
	font-size: 5em;
	text-shadow: 5px 5px 5px #030000;
}

footer {
	color: #fff;
	text-align: center;
}

@media only screen and (min-width : 320px) {
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}